<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->

    <!-- define the dependency -->
    <bean id="myFortuneService"
          class="soft.dev.academy.coachapp.HappyFortuneService">
    </bean>

    <bean id="myCoach"
          class="soft.dev.academy.coachapp.TrackCoach">

        <!-- setup constructor injection -->
        <constructor-arg ref="myFortuneService"/>
    </bean>

    <bean id="myCricketCoach"
          class="soft.dev.academy.coachapp.CricketCoach">

        <!-- set up setter injection -->
        <property name="fortuneService" ref="myFortuneService"/>
        <property name="emailAddress" value="thebestcoach@coach.com"/>
        <property name="team" value="Sunrisers Hyderabad"/>
    </bean>

</beans>





